body{
    background: rgba(0,0,0,0.9);
    font-family: 'Montserrat', sans-serif;
  }
  form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    width: 500px;
    height: 200px;
    border: 4px dashed #fff;
  }
  form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #ffffff;
  }

  form p a{
    color: #fff;
  }
  form input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }
  form button{
    margin: 0;
    color: #fff;
    background: #5a7ad1;
    border: none;
    width: 508px;
    height: 35px;
    margin-top: -20px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #5a7ad1;
    transition: all .2s ease;
    font-size: 15px;
    outline: none;
  }
  form button:hover{
    background: rgb(78, 110, 197);
      color: black;
      cursor: hand;
  }
  form button:active{
    border:0;
  }
  h2 {
    color: #ffffff;
  }
  #dataset_files_wrapper {
    background: #FFF;
    padding: 10px;
  }

  .plus_button {
    color: #ffffff;
    float: right;
    margin-right: 50px;
    font-size: 40px;
  }
    
  .plus_button a{
    color: #ffffff;
  }